<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>作业管理系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body>
<div >
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user" style="min-height: 600px;position: absolute;padding-top: 20px">
        <li class="layui-nav-item" ><a href=""> <i class="layui-icon">&#xe612;</i> 个人中心 </a></li>
        <li class="layui-nav-item layui-this"><a href=""> <i class="layui-icon">&#xe60a;</i> 历史记录 </a></li>
        <li class="layui-nav-item "><a href=""> <i class="layui-icon">&#xe611;</i> 课程通知 </a></li>
    </ul>
    <div style="margin-left:215px;min-height: 590px;background-color: white;padding-top: 10px">

    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script>

</script>
</body>
</html>