<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SCAU 作业管理系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body class="layui-bg-gray">

<!----------------------------------右侧开始----------------------------------------->
<div style="margin-left:215px;min-height: 590px;min-width: 650px;background-color: white;padding-top: 10px">
    <div class="layui-tab layui-tab-brief" lay-filter="">
        <ul class="layui-tab-title">
            <li class="layui-this">已提交</li>
            <li>逾期未交</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table class="layui-table"
                       lay-data="{url:'',id:'submit-list',page:true,data:[{course:'计算机网络',title:'实验一',submitTime:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',submitTime:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',submitTime:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',submitTime:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',submitTime:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',submitTime:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',submitTime:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',submitTime:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',submitTime:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',submitTime:'2018-11-11 11:11:11'}]}"
                       lay-filter="submit-list">
                    <thead>
                    <tr>
                        <th lay-data="{field:'course',align:'center'}">课程名称</th>
                        <th lay-data="{field:'title',align:'center'}">作业题目</th>
                        <th lay-data="{field:'submitTime',align:'center'}">提交时间</th>
                        <th lay-data="{align:'center',toolbar: '#operationBar1'}">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="layui-tab-item ">
                <table class="layui-table"
                       lay-data="{url:'',id:'overtime-list',page:true,data:[{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'},{course:'计算机网络',title:'实验一',deadline:'2018-11-11 11:11:11'}]}"
                       lay-filter="overtime-list">
                    <thead>
                    <tr>
                        <th lay-data="{field:'course',align:'center'}">课程名称</th>
                        <th lay-data="{field:'title',align:'center'}">作业题目</th>
                        <th lay-data="{field:'deadline',align:'center'}">截止时间</th>
                        <th lay-data="{align:'center',toolbar: '#operationBar2'}">操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!----------------------------------右侧结束----------------------------------------->


<script type="text/html" id="operationBar1">
    <a class="layui-btn  layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="download">下载</a>
</script>

<script type="text/html" id="operationBar2">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>

<script src="../../static/layui/layui.js"></script>
<script>
    layui.use(['element', 'form', 'jquery', 'upload', 'table'], function () {
        var form = layui.form,
            $ = layui.jquery,
            table = layui.table;

        table.on('tool(submit-list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {//点击查看
                window.location.href = 'homework_info.html';
            } else if (obj.event === 'download') {//点击下载

            }
        });

        table.on('tool(overtime-list)', function (obj) {
            if (obj.event === 'detail') {
                window.location.href = "homework_info.html"
            }
        });

    });
</script>
</body>
</html>