<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>作业管理系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body class="layui-bg-gray">
<!--------------------------------------主体开始------------------------------------------->
    <div style="margin:0 50px 0 50px;padding:10px 20px 10px 20px;background-color: white;min-height: 550px">
        <a href="javascript:history.back(-1)" style="font-size: 16px;color:blue;"><i
                class="layui-icon">&#xe65c;</i>返回</a>
        <hr class="layui-bg-gray">
        <div class="layui-row" style="margin:20px 0 20px 0">
            <div class="layui-col-md1"><strong>题目名称</strong></div>
            <div class="layui-col-md11" id="title">java多线程</div>
        </div>
        <hr class="layui-bg-gray">
        <div class="layui-row" style="margin:20px 0 20px 0">
            <div class="layui-col-md1"><strong>题目类型</strong></div>
            <div class="layui-col-md11" id="type">实验</div>
        </div>
        <hr class="layui-bg-gray">
        <div class="layui-row" style="margin:20px 0 20px 0">
            <div class="layui-col-md1"><strong>录入时间</strong></div>
            <div class="layui-col-md11" id="date">2018-11-24 00:00:00</div>
        </div>
        <hr class="layui-bg-gray">
        <div class="layui-row" style="margin:20px 0 20px 0">
            <div class="layui-col-md1"><strong>作业内容</strong></div>
            <div class="layui-col-md11" id="content">
                <p>23242432432432434342343243242432423432</p>
                <p>23242432432432434342343243242432423432</p>
                <p>23242432432432434342343243242432423432</p>
                <p>23242432432432434342343243242432423432</p>
                32434342342342343<br>324232323423423423
            </div>
        </div>
        <hr class="layui-bg-gray">
        <div class="layui-row" style="margin:20px 0 20px 0">
            <div class="layui-col-md1"><strong>作业备注</strong></div>
            <div class="layui-col-md11" id="note">424324234324234324</div>
        </div>
        <hr class="layui-bg-gray">
        <div class="layui-row" style="margin:20px 0 20px 0">
            <div style="text-align: center">
                <a class="layui-btn" href="javascript:history.back(-1)">返回</a>
                <a class="layui-btn" href="homework_submit.html">提交</a>
            </div>
        </div>
    </div>
<!--------------------------------------主体结束------------------------------------------->


<script src="../../static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use('jquery', function () {
        var $ = layui.jquery;

        //获取作业信息
        $.ajax({
            url: '',
            data: {},
            type: 'get',
            success: function (res) {
                if (res.status == 200) {
                    $('#title').text(res.title);
                    $('#type').text(res.type);
                    $('#date').text(res.date);
                    $('#content').text(res.content);
                    $('#note').text(res.note);
                }
            }
        })

    });
</script>
</body>
</html>