<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>作业管理系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body>
<div style="margin:0 50px 0 50px;padding:10px 20px 10px 20px;background-color: white;min-height: 550px">
    <fieldset class="layui-elem-field">
        <legend>系统公告</legend>
        <div class="layui-field-box">
            <p>内容区域</p>
            <p>内容区域</p>
            <p>内容区域</p>
            <p>内容区域</p>
        </div>
        <div style="text-align: right">
            <a href="" style="color: #0000FF">更多>></a>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>课程通知</legend>
        <div class="layui-field-box" >
            <table class="layui-table" lay-data="{url:'',id:'notice',data:[{course:'计算机网络',teacher:'huangyk',updateTime:'2018-11-12 12:12:12'},{course:'数据库',teacher:'huangyk',updateTime:'2018-11-12 12:12:12'},{course:'数据结构',teacher:'huangyk',updateTime:'2018-11-12 12:12:12'},{course:'计算机网络',teacher:'huangyk',updateTime:'2018-11-12 12:12:12'},{course:'java程序设计',teacher:'huangyk',updateTime:'2018-11-12 12:12:12'},{course:'网络编程',teacher:'huangyk',updateTime:'2018-11-12 12:12:12'},{course:'Hadoop实战',teacher:'huangyk',updateTime:'2018-11-12 12:12:12'}]}" lay-filter="notice">
                <thead>
                <tr>
                    <th lay-data="{field:'course',align:'center'}">课程名称</th>
                    <th lay-data="{field:'teacher',align:'center'}">任课老师</th>
                    <th lay-data="{field:'updateTime',align:'center'}">更新时间</th>
                    <th lay-data="{align:'center',toolbar: '#detailBar'}">查看详情</th>
                </tr>
                </thead>
            </table>

        </div>
    </fieldset>
</div>
<script type="text/html" id="detailBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
</script>
<script src="../../static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['table','layer','jquery','element'], function(){
        var table = layui.table,
            layer=layui.layer,
            $=layui.jquery;
        // //加载导航栏
        // $('#header').load('header.html');
        //监听工具条
        table.on('tool(notice)', function(obj){
            var data = obj.data;
            if(obj.event === 'detail'){
                layer.open({
                    type: 2,
                    title:'课程通知',
                    shade: 0.3,
                    area: ['600px','400'],
                    maxmin: false,
                    resize:false,
                    content: 'notice.html',
                    zIndex: layer.zIndex,
                    success: function(layero){
                        layer.setTop(layero); //重点2
                    }
                });
            }
        });

    });
</script>
</body>
</html>