<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SCAU 作业管理系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body class="layui-bg-gray">


<!----------------------------------右侧开始----------------------------------------->
<div style="margin-left:215px;min-height: 590px;min-width: 650px;background-color: white;padding-top: 10px">
    <div class="layui-tab layui-tab-brief" lay-filter="">
        <ul class="layui-tab-title">
            <li class="layui-this">我的资料</li>
            <li>头像</li>
            <!--<li>密码</li>-->
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-form layui-form-pane layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">学号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="number" id="number" required class="layui-input" disabled
                               value="201525010207" style="cursor: not-allowed !important;">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" id="name" required class="layui-input" disabled
                               value="huangyk" style="cursor: not-allowed !important;">
                    </div>
                    <input type="radio" name="sex" id="male" value="男" title="男">
                    <input type="radio" name="sex" id="female" value="女" title="女">
                </div>
                <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">性别</label>-->
                <!--<div class="layui-input-block">-->
                <!--<input type="radio" name="sex" id="male" value="男" title="男">-->
                <!--<input type="radio" name="sex" id="female" value="女" title="女">-->
                <!--</div>-->
                <!--</div>-->
                <div class="layui-form-item">
                    <label class="layui-form-label">昵称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="nickname" id="nickname" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-inline">
                        <input type="text" name="email" id="email" class="layui-input" lay-verify="email">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机</label>
                    <div class="layui-input-inline">
                        <input type="text" name="phone" id="phone" class="layui-input" lay-verify="phone">
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit lay-filter="user-msg-submit">确认修改</button>
                </div>
            </div>
            <div class="layui-tab-item layui-form layui-form-pane">
                <div class="layui-form-item">
                    <div class="layui-bg-gray"
                         style="text-align: center;width: 350px;height: 400px;padding-top: 30px">
                        <button type="button" class="layui-btn" id="load-img">
                            <i class="layui-icon">&#xe67c;</i>上传头像
                        </button>
                        <p style="margin-top: 10px;opacity: 0.7">支持jpg、png、gif，最大不能超过50KB</p>
                        <img src="../../static/image/login.jpg"
                             style="width: 200px; height: 200px;margin-top: 30px; border-radius: 100px;">
                    </div>
                </div>
            </div>
            <!--<div class="layui-tab-item layui-form layui-form-pane">-->
            <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">原密码</label>-->
            <!--<div class="layui-input-inline">-->
            <!--<input type="password" name="oldPassword" id="old-password" required class="layui-input">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">新密码</label>-->
            <!--<div class="layui-input-inline">-->
            <!--<input type="password" name="newPassword" id="new-password" required class="layui-input">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label">确认密码</label>-->
            <!--<div class="layui-input-inline">-->
            <!--<input type="password" name="rePassword" id="re-password" required class="layui-input">-->
            <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
            <!--<button class="layui-btn"  lay-submit lay-filter="user-pass-submit">确认修改</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!----------------------------------右侧结束----------------------------------------->
<script src="../../static/layui/layui.js"></script>
<script>
    layui.use(['element', 'form', 'jquery', 'upload'], function () {
        var form = layui.form,
            $ = layui.jquery;
        upload = layui.upload;

        //修改个人信息
        form.on('submit(user-msg-submit)', function (data) {
            $.ajax({
                url: '',
                data: data.field,
                type: 'post',
                success: function (res) {

                }
            });
        });

        //上传头像
        upload.render({
            elem: '#load-img',
            url: '',
            done: function (res) {

            },
            error: function () {

            }
        })
        //修改密码
        form.on('submit(user-pass-submit', function (data) {
            $.ajax({
                url: '',
                data: data.field,
                type: 'post',
                success: function (res) {

                }
            });
        });
    });
</script>
</body>
</html>