<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>SCAU 作业管理系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body class="layui-bg-gray">


<!----------------------------------右侧开始----------------------------------------->
<div style="margin-left:215px;min-height: 590px;min-width: 650px;background-color: white;padding-top: 10px">
    <div class="layui-tab layui-tab-brief" lay-filter="">
        <ul class="layui-tab-title">
            <li class="layui-this">修改密码</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-form layui-form-pane layui-show">
                <div class="layui-form-item">
                    <label class="layui-form-label">原密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="oldPassword" id="old-password" required class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="newPassword" id="new-password" required class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-inline">
                        <input type="password" name="rePassword" id="re-password" required class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit lay-filter="user-pass-submit">确认修改</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------右侧结束----------------------------------------->
<script src="../../static/layui/layui.js"></script>
<script>
    layui.use(['element', 'form', 'jquery', 'upload'], function () {
        var form = layui.form,
            $ = layui.jquery;
        //修改密码
        form.on('submit(user-pass-submit', function (data) {
            $.ajax({
                url: '',
                data: data.field,
                type: 'post',
                success: function (res) {

                }
            });
        });
    });
</script>
</body>
</html>