<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>作业管理系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">SCAU 作业管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <!--<ul class="layui-nav layui-layout-left">-->
        <!--<li class="layui-nav-item"><a href="">控制台</a></li>-->
        <!--<li class="layui-nav-item"><a href="">商品管理</a></li>-->
        <!--<li class="layui-nav-item"><a href="">用户</a></li>-->
        <!--<li class="layui-nav-item">-->
        <!--<a href="javascript:;">其它系统</a>-->
        <!--<dl class="layui-nav-child">-->
        <!--<dd><a href="">邮件管理</a></dd>-->
        <!--<dd><a href="">消息管理</a></dd>-->
        <!--<dd><a href="">授权管理</a></dd>-->
        <!--</dl>-->
        <!--</li>-->
        <!--</ul>-->
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a>
                    <i class="layui-icon layui-icon-notice"></i>
                    <!-- 如果有新消息，则显示小圆点 -->
                    <span class="layui-badge-dot"></span>
                </a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    管理员
                </a>
                <dl class="layui-nav-child" style="text-align: center">
                    <dd><a href="person_info.html" target="body">基本资料</a></dd>
                    <dd><a href="update_password.html" target="body">修改密码</a></dd>
                    <hr>
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-shrink="all" lay-filter="test">
                <li class="layui-nav-item">
                    <a href="javascript:;" style="min-height: 60px;line-height: 60px;text-align: left;font-size: 15px">
                        <i class="layui-icon layui-icon-user" style="color: white;font-size: 15px"></i>
                        个人中心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="person_info.html" target="body">基本资料</a></dd>
                        <dd><a href="update_password.html" target="body">修改密码</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:;" style="min-height: 60px;line-height: 60px;text-align: left;font-size: 15px">
                        <i class="layui-icon layui-icon-app" style="color: white;font-size: 15px"></i>
                        系统管理
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="user_list.html" target="body">用户管理</a></dd>
                        <dd><a href="role_list.html" target="body">角色管理</a></dd>
                        <dd><a href="javascript:;">权限管理</a></dd>
                        <dd><a href="notice_list.html" target="body">公告管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item ">
                    <a href="javascript:;" style="min-height: 60px;line-height: 60px;text-align: left;font-size: 15px">
                        <i class="layui-icon layui-icon-log" style="color: white;font-size: 15px"></i>
                        系统监控
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="login_log_list.html" target="body">登录日志</a></dd>
                        <dd><a href="javascript:;">操作日志</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">

                    <a href="javascript:;" style="min-height: 60px;line-height: 60px;text-align: left;font-size: 15px">
                        <i class="layui-icon layui-icon-set" style="color: white;margin-right: 4px;font-size: 15px"></i>网站设置
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" style="min-height: 60px;line-height: 60px;text-align: left;font-size: 15px">
                        <i class="layui-icon layui-icon-notice" style="color: white;font-size: 15px"></i>
                        消息中心
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe name="body" id="body" src="person_info.html" frameborder="0" scrolling="yes"
                style="width: 100%;height: 100%"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © 2018 scau.huangyk.com
    </div>
</div>

<script src="../../static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['element', 'form', 'table'], function () {
        var element = layui.element;

    });
</script>
</body>
</html>