<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>作业管理系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body>
<div style="margin: 10px;">
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">登录地址</label>
                <div class="layui-input-block" style="min-width: 240px">
                    <input type="text" class="layui-input" name="loginAddress" id="loginAddress">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户名称</label>
                <div class="layui-input-block" style="min-width: 240px">
                    <input type="text" class="layui-input" name="loginName" id="loginName">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">登录状态</label>
                <div class="layui-input-block" style="min-width: 240px">
                    <select class="layui-select" name="status" id="status">
                        <option value="0">所有</option>
                        <option value="1">成功</option>
                        <option value="2">失败</option>
                    </select>
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn" lay-submit lay-filter="role-search">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="layui-btn-group">
            <button class="layui-btn layui-btn-sm" data-type="delete" style="background-color: deeppink"><i
                    class="layui-icon">&#x1006;</i>删除
            </button>
            <button class="layui-btn layui-btn-danger layui-btn-sm" data-type="clear"><i class="layui-icon">&#xe640;</i>清空
            </button>
            <button class="layui-btn layui-btn-warm layui-btn-sm" data-type="download"><i
                    class="layui-icon">&#xe601;</i>导出
            </button>
        </div>
    </div>
    <table class="layui-table"
           lay-data="{url:'',id:'user-list',page:true,data:[{},{},{},{},{},{},{},{},{},{},{},{},{},{},{}]}"
           lay-filter="role-list">
        <thead>
        <tr>
            <th lay-data="{type:'checkbox'}"></th>
            <th lay-data="{field:'number',align:'center'}">访问编号</th>
            <th lay-data="{field:'account',align:'center'}">登录账号</th>
            <th lay-data="{field:'username',align:'center'}">用户名称</th>
            <th lay-data="{field:'ipAddress',align:'center'}">IP地址</th>
            <th lay-data="{field:'loginAddress',align:'center'}">登录地点</th>
            <th lay-data="{field:'browser',align:'center'}">浏览器</th>
            <th lay-data="{field:'os',align:'center'}">操作系统</th>
            <th lay-data="{field:'status',align:'center'}">登录状态</th>
            <th lay-data="{field:'message',align:'center'}">操作信息</th>
            <th lay-data="{field:'createTime',align:'center'}">登录时间</th>
            <th lay-data="{align:'center',toolbar:'#operationBar'}">操作</th>
        </tr>
        </thead>
    </table>
</div>
<script type="text/html" id="operationBar">
    <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete"><i class="layui-icon">&#xe640;</i>删除
    </button>
</script>
<script src="../../static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['jquery', 'element', 'form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        form.on('submit(role-search)', function (data) {
            $.ajax({
                url: '',
                type: 'post',
                data: data.field,
                success: function (res) {

                }
            })
        });

        table.on('tool(role-list)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {

            } else if (obj.even === 'delete') {

            }
        });

    });

</script>
</body>
</html>