<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>作业管理系统</title>
    <link rel="stylesheet" href="../../static/layui/css/layui.css">
</head>
<body>
<div>
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码</label>
            <div class="layui-input-inline">
                <input type="password" name="oldPasswrd" id="old-password" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="newPasswrd" id="new-password" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-inline">
                <input type="password" name="rePasswrd" id="re-password" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="button" class="layui-btn" lay-submit lay-filter="user-pass-submit">确认修改</button>
            </div>
        </div>
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['jquery', 'element', 'form'], function () {
        var $ = layui.jquery,
            form = layui.form;

        form.on('submit(user-pass-submit)', function (data) {
            $.ajax({
                url: '',
                type: 'post',
                data: data.field,
                success: function (res) {

                }
            })
        })

    });

</script>
</body>
</html>